/**GENERALES */
.bgazul{
    background-color: rgb(4, 221, 255);
    text-align: center;
    font-size: 34px;
}

/* .airplane {
    top: 90%;
    left: 50%;
    padding-bottom: 20%;
  } */

.bgrosa{
    background-color: rgb(190, 0, 215);
    text-align: center;
    font-size: 34px;

}